// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Compass
@import "~compass-sass-mixins/lib/compass";



body{
	font-size: 14px;
	font-weight: 400;
	background: darken(#F1F4FA, 2%);
	color:#555;
	font-family: 'Open Sans', sans-serif;
}

@mixin placeholder($color){
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: $color;
	  opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: $color;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
	  color: $color;
	}
}

@mixin blue_grad(){
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#34a1d3+0,1d64af+100 */
	background: #34a1d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #34a1d3 0%, #1d64af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #34a1d3 0%,#1d64af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #34a1d3 0%,#1d64af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a1d3', endColorstr='#1d64af',GradientType=0 ); /* IE6-9 */

}

@mixin green_grad(){
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3aafa9+0,2b7a78+100 */
	background: #3aafa9; /* Old browsers */
	background: -moz-linear-gradient(top,  #3aafa9 0%, #2b7a78 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3aafa9 0%,#2b7a78 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3aafa9 0%,#2b7a78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aafa9', endColorstr='#2b7a78',GradientType=0 ); /* IE6-9 */
}

.mt0{margin-top: 0 !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt50{margin-top: 50px !important;}
.mb0{margin-bottom: 0 !important;}
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb50{margin-bottom: 50px !important;}
.p0{padding: 0 !important;}

.cb{clear: both;}

.hidetilloaded{display: none;}

.btn{color:#eee;}

.btn.sec_btn{background: $secondary !important;}


nav.navbar{
	
	@include blue_grad();

	li.nav-item{
		a{color:#eee;}

		&.active{a{color:#fff;}}
	}

	.navbar-brand{
		color:#fff;
	}

	form{

		.input-group{
			color:#fff;
			background: lighten(#1d64af, 2%);
			border:none;
			border-bottom: 1px solid lighten(#1561ad, 20%);
			@include border-radius(30px);

			&:focus-within{@include box-shadow(0 2px 3px lighten(#1561ad, 15%));}

			i{color:#fff;}
			input.form-control{
				background: none;
				border:none;
				padding-left: 5px;
				color:#fff;
				font-size: 13px;

				&:focus{
					border-color: inherit;
					-webkit-box-shadow: none;
					@include box-shadow(none);

				}
			}
			.input-group-text.bg-transparent{border: none;}
		}
	}

	.nav-link{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	@include placeholder(#eee);
}

.jumbotron{
	background: url(/assets/img/market.jpg);
	width: 100%;
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	padding-top: 40px;
	padding-bottom: 20px;
	

	.search_form{
		input{
			height: 50px;
			font-size: 18px;
			background: rgba(0, 0, 0, 0.8);
			border:1px solid #333;
			color:#eee;
		}
	}

	.results{
		background: #232323;
		border:1px solid #222;
		width: 300px;
		color:#aaa;
		position: relative;
		bottom: 1px;

		.list-group-item{
			background: #000;
			border: 1px solid #222;
			color:#ccc;
			border-left: none;
			border-right: none;

			&:hover{
				background: lighten(#000, 5%);
				color:$primary;
			}
		}
	}
}

.current_price_down, .negative{color:tomato;}
.current_price_up, .positive{color:$green;}
span.change_percent{font-weight: 600;}

.todays_earnings, .top_gainers, .top_losers, .most_active{
	
	.card-header{
		h4{
			font-size: 18px;
			font-weight: 600;
			color:#555;
		}
	}

	.card-body{

		.list-group-item{
			font-size: 13px;
			border-left: none;
			border-right: none;
			padding: 0.75rem 1.0rem;
			
			&:hover > .company_name, &:hover > .ticker{
				color:$primary;
			}

			.ticker{
				font-weight: 600;
			}
		}

		.btn{
			margin:0 auto;
			display: block;
		}
	}
}

.most_active{
	height: 100%;
	max-height: 415px;
	.card-body{
		overflow-y:scroll;
	}
	
}

.company_profile{
	h2.comp_name{
		font-weight: 600;
		color:#444;
	}

	.current_stock_price{
		font-weight: 600;

		.latest_change{
			font-size: 13px;
			font-weight: 700;
			position: relative;
			bottom:9px;

			&.positive{color:$green;}
			&.negative{color:$red;}
		}
	}

	.company_details {
		.list-group-item{
			padding: 0.5rem;
		}
		
	}
}


.company_stock_highlights{
	
	.inner{
		background: $primary;
		color:#fff;
		padding: 8px 5px;
		@include border-radius(8px);
		@include border-radius(3px);

		h4{
			font-size: 13px;
			font-weight: 500;
		}

		p{
			font-size: 25px;
			font-weight: 700;
		}
	}

	&:nth-child(1) .inner{background: $lightblue;}
	&:nth-child(2) .inner{background: $reddish;}
	&:nth-child(3) .inner{background: $bluegreen;}
	&:nth-child(4) .inner{background: $red;}
}

.wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	@include transition(margin .25s ease-out);

	.list-group-item{
		font-weight: 600;
		&.active{
			background:$secondary;
			color:#fff;
			border-color: darken($secondary, 10%);
		}
	}
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
 	width: 15rem;
}

.page_wrapper {
	min-width: 100vw;
	border-top: 2px solid #fff;
}

.wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

.sidemenu_btn{
	color:$bluegreen;
	@include opacity(1);
	&:hover{color: darken($bluegreen, 10%);}
}


.bg-gradient-success {
    background: #1b9e3e!important;
    background: linear-gradient(45deg,#2eb85c 0%,#1b9e3e 100%)!important;
    border-color: #1b9e3e!important;
}

.range{

	p{font-weight: 600;font-size: 13px;}
	
	.progress{
		background: #bbb;
		width: 70%;
		max-width: 250px;
	}
	.progress-xs{
		height: 6px;
	}

	.range_bar{
		.low small, .high small{position: relative;top:6px;font-size: 13px;font-weight: 600;}
	}
}

.section_heading{
	border-bottom: 2px solid #ccc;
}

//////////////////////////////////////////////////////////////////////
////	Media Queries ////
//////////////////////////////////////////////////////////////////////
@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	.page_wrapper {
		min-width: 0;
		width: 100%;
	}

	.wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}




