// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$turq:#00A1C3;
$red:tomato;
$green:#42A458;

body{
	font-size: 13px;
	font-weight: 400;
	background: #eee;
	color:#555;
	font-family: 'Open Sans', sans-serif;
}

.mt0{margin-top: 0 !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt50{margin-top: 50px !important;}
.mb0{margin-bottom: 0 !important;}
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb50{margin-bottom: 50px !important;}
.p0{padding: 0 !important;}

.hidetilloaded{display: none;}

.btn{
	color:#eee;
}

.jumbotron{
	background: url(/assets/img/stock_charts.jpg);
	width: 100%;
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	

	.search_form{
		input{
			height: 50px;
			font-size: 18px;
			background: rgba(0, 0, 0, 0.8);
			border:1px solid #333;
			color:#eee;
		}
	}

	.results{
		background: #232323;
		border:1px solid #222;
		width: 300px;
		color:#aaa;
		position: relative;
		bottom: 1px;

		.list-group-item{
			background: #000;
			border: 1px solid #222;
			color:#ccc;
			border-left: none;
			border-right: none;

			&:hover{
				background: lighten(#000, 5%);
				color:$turq;
			}
		}
	}
}

.current_price_down, .negative{color:tomato;}
.current_price_up, .positive{color:$green;}

nav.navbar{
	background: $turq;
	color:#fff;

	.navbar-brand{
		color:#fff;
	}
}

.todays_earnings, .top_gainers, .top_losers{
	
	.card-header{
		h4{
			font-size: 18px;
			font-weight: 600;
		}
	}

	.card-body{

		.list-group-item{
			font-size: 13px;
			border-left: none;
			border-right: none;
			padding: 0.75rem 1.0rem;
			
			&:hover > .company_name, &:hover > .ticker{
				color:$turq;
			}

			.ticker{
				font-weight: 600;
			}
		}

		.btn{
			margin:0 auto;
			display: block;
		}
	}
}

.company_profile{
	h2.comp_name{
		font-weight: 600;
		color:#444;
	}

	.current_stock_price{
		font-weight: 600;

		.latest_change{
			font-size: 13px;
			font-weight: 700;
			position: relative;
			bottom:9px;

			&.positive{color:$green;}
			&.negative{color:$red;}
		}
	}

	.company_details {
		.list-group-item{
			padding: 0.5rem 0;
		}
		
	}
}





